@charset "UTF-8";

@font-face {
 font-family: 'NanumBarunGothic';
 font-style: normal;
 font-weight: 400;
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot');
 src: url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.eot?#iefix') format('embedded-opentype'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.woff') format('woff'), url('//cdn.jsdelivr.net/font-nanumlight/1.0/NanumBarunGothicWeb.ttf') format('truetype');
}

* {
 font-family: 'NanumBarunGothic', sans-serif;
}

#container{
	width:100%;
	margin: 0 auto;
	text-align: center;
	border: 0px solid #bcbcbc;
}

#header{
	padding: 5px;
	margin-bottom: 5px;
	border: 0px solid #bcbcbc;
	background-color: white;
}

#logo{
	width: 250px;
	float: left;
}

#nav{
	padding: 5px;
	margin-bottom: 5px;
	float: left;
	background-color: white;
	border: 0px solid #bcbcbc;
	font-size: 15px;
}

#content{
	padding: 5px;
	border: 0px solid #bcbcbc;
}

#footer{
	clear: both;
	padding: 5px;
	border: 0px solid #bcbcbc;
	background-color: white;
}

.no-underline{
	text-decoration: none;
	color:black;
}

.footer_p{
	font-size: 15px;
	text-align: left;
}

.no-underline-orange{
	text-decoration: none;
	color:#FF7629;
	font-size: 12px;
}


.r_detail {
	border: 5px solid darkblue;
  	height: 600px;
  	width: 600px;
}